.cardFilms {
  min-height: 80px;
  min-width: 330px;
}

.cardFilmsNumero{
  height: 80px;
}

h1 {
  font-size: 24pt;
}

h4 {
  font-size: 13.5pt;
}

h5 {
  font-size: 11pt;
}


/*Media Queries*/
@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

@media (min-width: 364px) {
  h1 {
    font-size: 13pt;
  }

  h4 {
    font-size: 10.5pt;
  }

  h5 {
    font-size: 8pt;
  }
}

@media (min-width: 544px){
  h1 {
    font-size: 16pt;
  }

  h4 {
    font-size: 11.5pt;
  }

  h5 {
    font-size: 9pt;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 17pt;
  }

  h4 {
    font-size: 12.5pt;
  }

  h5 {
    font-size: 10pt;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 18pt;
  }

  h4 {
    font-size: 13pt;
  }

  h5 {
    font-size: 10.5pt;
  }
}

@media (min-width: 1500px) {
  h1 {
    font-size: 24pt;
  }

  h4 {
    font-size: 13pt;
  }

  h5 {
    font-size: 11pt;
  }
}
